#page
  .logo
    display: flex
    margin-left: 7%
    margin-top: 2%

  .MostPopylarBox
    align-items: center
    justify-content: center
    margin-left: 19%
    margin-top: 5%
    padding: 16px
    border-radius: 8px
    height: 2500px
    width: 900px
    mat-card 
     max-width: 25%
     margin-left: 37%
     margin-top: 3%
     margin-block-end:  3%

        

  .MostNewBox 
    align-items: center
    justify-content: center
    margin-left: 19%
    margin-top: 5%
    padding: 16px
    border-radius: 8px
    height: 2500px
    width: 900px
    mat-card 
     max-width: 25%
     margin-left: 37%
     margin-top: 3%
     margin-block-end:  3%