   <div>
   <mat-form-field class="example-full-width">
      <input matInput placeholder="Фрагмент поиска" >
    </mat-form-field>
    <button  mat-button>Поиск</button>
    </div>


<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              Больше критериев для поиска
          </mat-panel-title>
          
      </mat-expansion-panel-header>
  
      <mat-action-row>
          <button  mat-button>Критерий1</button>
          <button  id = "lastbutton" mat-button>+</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>




