#lastbutton
     margin-right: 85%

#searsh
     .searshPanel
          margin-left: 1%
          margin-top: 2%
          min-width: 88%
          max-width: 99%
     #firstButton
            margin-left: 2%

mat-button-toggle-group
 align:left

mat-card 
 max-width: 25%
 margin-left: 37%
 margin-top: 3%
 margin-block-end:  3%
