mat-card

    display: flex
    flex-direction: column
    height: 100%
    margin: 2%
    mat-card-header
        max-height: 5%
    mat-card-actions
        span
            color: red
            margin-left: 2%
    img 
        object-fit: fit
        width: 100%
        height: 65%
        margin: auto

mat-card.available
 background-color: green