<div id = card>
<mat-card *ngFor="let comics of bd">
    <mat-card-header>
      <mat-card-title>{{comics.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="comics.image">
    <mat-card-content>
        <p>
            Количество страниц:  {{comics.number_page}}
          </p>
          <p>
             Рейтинг комикса: {{comics.rating}}
          </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Просмотреть</button>
      <button mat-button>Купить</button>
    </mat-card-actions>
  </mat-card>
  <div>
