Доступные комиксы : <br />
<div [@fadeIn]="fadeIn" id="card">
  <mat-card *ngFor="let rel of req">
    <mat-card-header>
      <mat-card-title> {{ rel.release.name }} </mat-card-title>
    </mat-card-header>
    <img class="logo" [src]="image(rel.release.path)" />
    <mat-card-actions>
      <button mat-raised-button (click)="openRelease(rel.release.id)">
        Просмотреть
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div id="first-button">
  <button mat-button mat-dialog-close (click)="logout()">
    Выйти из профиля
  </button>
</div>
