mat-toolbar
    background-color: #aaaaaa
    span
        margin-left: 12%
        outline: none
    #span1
        margin-left: 25%
    span:hover
        cursor: pointer
    img
     margin-left: 13%
     margin-top: 1%
     width: 90%
     height: 90%

        


